<%= form_for @project do |f| %>

    <div>
      <%= f.label "タイトル" %><br />
      <%= f.text_field :title %>
    </div>

    <% if @project.errors.any? %>
        <%= @project.errors.messages[:title][0] %>
    <% end %>

    <p>
      <%= f.submit %>
    </p>

<% end %>
