<h1>
  プロジェクトリスト
</h1>

<table border="1">
  <tr>
    <th>プロジェクト名</th>
    <th>未完了</th>
    <th>完了</th>
    <th>全タスク数</th>
    <th></th>
    <th></th>
  </tr>
  <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.title, project_path(project.id) %>
        </td>
        <td><%= project.tasks.unfinished.count %></td>
        <td><%= project.tasks.finished.count %></td>
        <td><%= project.tasks.count %></td>
        <td><%= link_to " [編集]", edit_project_path(project.id) %></td>
        <td><%= link_to "[削除]", project_path(project.id), method: :delete, data: { confirm: "本当に削除しますがよろしいですか？" } %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to "プロジェクトの追加", new_project_path %></p>
