<h1>
  <%= @project.title %>のタスクリスト
</h1>

<table border="1">
  <tr>
    <th>完了</th>
    <th>タスク名</th>
  </tr>
  <% @project.tasks.each do |task| %>
      <tr>
        <td>
          <%= check_box_tag '', '', task.done, {'data-path': toggle_project_task_path(task.project_id, task.id)} %>
          <!--<%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-project_id' => task.project_id} %>-->
        </td>
        <td>
          <%= link_to task.title, project_task_path(task.project_id, task.id) %>
        </td>
      </tr>
  <% end %>
</table>

<p><%= link_to "タスクの追加", new_project_task_path(@project.id) %></p>

<script>
  $(function() {
      $("input[type='checkbox']").click(function() {
          $.post($(this).data('path'));
//          $.post('/projects/'+$(this).data('project_id')+'/tasks/'+$(this).data('id')+'/toggle');
      });
  });
</script>
