<!DOCTYPE html>
<html>
  <head>
    <title>RailStudy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= image_tag "rails.png", :size => "415x217" %>

    <p>
      <% if params[:id] || params[:project_id] %>
          <% if params[:project_id] %>
              <%= link_to "プロジェクトリスト", projects_path %> >> <%= link_to "#{Project.find(params[:project_id]).title}のタスクリスト", project_path(params[:project_id]) %>
          <% else %>
              <%= link_to "プロジェクトリスト", projects_path %>
          <% end %>
      <% end %>
    </p>

    <%= yield %>

    <%= link_to "Home", "/" %>
  </body>
</html>
